*
{
    margin: 0;
    padding: 0;
}

#container
{
    width: 80%;
    margin: 10px auto;
    position: relative;
}

ul
{
    list-style-type: none;
}

#container>h1
{
    width: 44%;
    border: 1px solid red;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: lightblue;
}

#container>h2
{
    margin-top: 5px;
    width: 60%;
    height: 200px;
    border: 1px solid red;
    background-color: lightblue;
    line-height: 200px;
    text-align: center;
    float: right;
}

#container>ul
{
    position: absolute;
    top: 10px;
    right: 10px;
}

#container>ul li
{

    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 24px;
    border-left:2px black solid ;
    float: left;
    padding:0 20px;
}

#narrow
{
    margin-top: 5px;
    width: 38%;
    border: 1px solid red;
    font-size: 24px;
}



#narrow #mainMenu li
{
    width: 50%;
    border-bottom: 2px black solid;
    padding: 3px;
    margin: 0px auto;
    text-align: center;
}

#narrow #mainMenu li a
{
    text-decoration: none;
}

#narrow form
{
    /* padding-top: -5px; */
    width: 90%;
    height: 70px;
    line-height: 70px;
    /* border: 1px solid red; */
    margin: 0px auto;
    margin-top: 8px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
}

#narrow form>input:nth-child(1)
{
    width: 60%;
    height: 30px;
    margin-left:13%;

}

#narrow form>input:last-child
{
    width: 14%;
    height: 30px;
}

#narrow #news
{
    width: 90%;

    margin: 0px auto;

    font-size: 16px;
}

#narrow #news h3:first-child
{
    padding: 15px 0px;
}

.newsTitle
{
    margin-bottom: 10px;
}

.contentBox-orange1,.contentBox-orange2
{
    width: 29%;
    float: left;
    font-size: 24px;
    border: 1px solid red;
}


.contentBox-orange1
{
    margin-right: 1%;
    position: absolute;
    top: 315px;
    right: 30%;
}

.contentBox-orange2
{
    /* width: 29%; */
    margin-left: 1%;
    position: absolute;
    top: 315px;
    right: 0px;
}